.view-animate-container {
    position: relative;
    min-height: 100px;
}

.view-animate {
    padding: 20px;
}

.view-animate.ng-enter, .view-animate.ng-leave {
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.7s;
    display: block;
    width: 100%;
    box-shadow: -4px -4px 4px 1px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
}

.view-animate.ng-enter {
    left: 100%;
}

.view-animate.ng-enter.ng-enter-active {
    left: 0;
}

.view-animate.ng-leave.ng-leave-active {
    left: -100%;
}